@import "tailwindcss";
 
/* set color variables */
@theme {
  --color-primary: #d4b196;
  --color-secondary: #1E1C1C;
  --color-neutral: #F2F2F2;
  --color-extraDark: #212121;
  --color-dark: #323232;
}

body {
  font-family: "Poppins", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}